<% if activity[:downloaded_segment_efforts] == activity[:segment_count] %>
  All segments efforts downloaded
<% else %>
  <h2>Downloading segment efforts</h2>

  Downloaded: <span class="downloaded-count"><%= activity[:downloaded_segment_efforts] %></span>
  Total: <%= activity[:segment_count] %>


  <script>
    downloadActivityEffort = function() {
      fetch("/activities/<%= activity[:id] %>/download", { credentials: 'include' }).then(function(response) {
        return response.json()
      }).then(function(data) {
        if(data.downloaded_segment_efforts == <%= activity[:segment_count] %>) {
          window.location.pathname = '/'
        }
        document.querySelector('.downloaded-count').innerText = data.downloaded_segment_efforts
        downloadActivityEffort()
      })
    }

    downloadActivityEffort()
  </script>
<% end %>


<p>
  <a href="/">Back to homepage</a>
</p>
